.container {
    height: 100vh;
    max-width: 800px;
    margin: 20px auto; /* 위쪽과 아래쪽에 20px의 공간을 추가하고 가운데 정렬 */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 위에서 아래로 정렬 */
    align-items: center;
}

.button {
    width: 100%;
    margin: 20px auto;
    align-items: center;
}